# Git
.git
.gitignore

# Docker
Dockerfile
frontend.dockerfile

# Distribution / packaging
node_modules
build

# Unit test / coverage reports

# Environments
.env

# misc
.DS_Store
thumbs.db
.vscode/
data/
logs/

# config
config.json
config.ini
