.footer-container {
  background: hsl(210, 8%, 15%);
  font-size: 12px;
  color: #babfc4;
  padding: 12px;
}

.footer-container .euiLink {
  color: white;
}

.footer-heart {
  color: #e25555;
  font-size: 24px;
  vertical-align: middle;
}
