.footer-container {
  background: hsl(210, 8%, 15%);
  font-size: 12px;
  color: #babfc4;
  padding: 12px;
}

.footer-container .euiLink,
.footer-container a {
  color: rgb(228, 228, 228);
}

.footer-heart {
  color: #e25555;
  font-size: 24px;
  vertical-align: middle;
}

#scroll-to-top {
  align-items: center;
  background: dodgerblue;
  border-radius: 50%;
  bottom: 30px;
  display: flex;
  height: 48px;
  justify-content: center;
  position: fixed;
  right: 30px;
  width: 48px;
  z-index: 100;
}

#site-search-field input::placeholder {
  color: #a9a9a9;
}
